<div class="container jumbotron">
    <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron">
            <h1>Projects</h1>

            <div class="list-group" *ngIf="projectsWrapper">
              <button (click)="loadProjectById(project.id)" type="button" class="list-group-item list-group-item-action" aria-current="true" *ngFor="let project of projectsWrapper.projects">
                {{project.name}}
              </button>
            </div>
            <button type="button" class="btn btn-primary" (click)="addProject()">Add Project</button>
            <button type="button" class="btn btn-primary" (click)="updateProject()" *ngIf="currentProject">Update Project</button>
            <button type="button" class="btn btn-primary" (click)="deleteProject(currentProject.id)" *ngIf="currentProject">Delete Project</button>



              <form *ngIf="projectCreation" [formGroup]="projectCreationForm" (ngSubmit)="onProjectCreationSubmit()">
               
                <div class="form-group">
                  <label for="name">Name*</label>
                  <input type="text" formControlName="name" class="form-control" required
                    [ngClass]="{ 'is-invalid': projectCreationSubmitted && f_project_creation.name.errors }" />
                  <div *ngIf="projectCreationSubmitted && f_project_creation.name.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.name.errors.required">name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" formControlName="description" class="form-control"
                    [ngClass]="{ 'is-invalid': projectCreationSubmitted && f_project_creation.description.errors }" />
                  <div *ngIf="projectCreationSubmitted && f_project_creation.description.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.description.errors.required">description is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="homepage">Homepage</label>
                  <input type="text" formControlName="homepage" class="form-control"
                    [ngClass]="{ 'is-invalid': projectCreationSubmitted && f_project_creation.homepage.errors }" />
                  <div *ngIf="projectCreationSubmitted && f_project_creation.homepage.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.homepage.errors.required">homepage is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="is_public">Public</label>
                  <input type="checkbox" formControlName="is_public" class="form-control"
                    [ngClass]="{ 'is-invalid': projectCreationSubmitted && f_project_creation.is_public.errors }" />
                  <div *ngIf="projectCreationSubmitted && f_project_creation.is_public.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.is_public.errors.required">is_public is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="parent_id">Parent</label>
                  <input type="text" formControlName="parent_id" class="form-control"
                    [ngClass]="{ 'is-invalid': projectCreationSubmitted && f_project_creation.parent_id.errors }" />
                  <div *ngIf="projectCreationSubmitted && f_project_creation.parent_id.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.parent_id.errors.required">parent_id is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inherit_members">Inherit Members</label>
                  <input type="checkbox" formControlName="inherit_members" class="form-control"
                    [ngClass]="{ 'is-invalid': projectCreationSubmitted && f_project_creation.inherit_members.errors }" />
                  <div *ngIf="projectCreationSubmitted && f_project_creation.inherit_members.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.inherit_members.errors.required">inherit_members is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="default_assigned_to_id">Default Assigned to</label>
                  <input type="text" formControlName="default_assigned_to_id" class="form-control"
                    [ngClass]="{ 'is-invalid': projectCreationSubmitted && f_project_creation.default_assigned_to_id.errors }" />
                  <div *ngIf="projectCreationSubmitted && f_project_creation.default_assigned_to_id.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.default_assigned_to_id.errors.required">default_assigned_to_id is required</div>
                  </div>
                </div>


                <div class="form-group">
                  <label for="default_version_id">Default Version</label>
                  <input type="text" formControlName="default_version_id" class="form-control"
                    [ngClass]="{ 'is-invalid': projectCreationSubmitted && f_project_creation.default_version_id.errors }" />
                  <div *ngIf="projectCreationSubmitted && f_project_creation.default_version_id.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.default_version_id.errors.required">default_version_id is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="tracker_ids">Trackers</label>
                  <input type="text" formControlName="tracker_ids" class="form-control"
                    [ngClass]="{ 'is-invalid': projectCreationSubmitted && f_project_creation.tracker_ids.errors }" />
                  <div *ngIf="projectCreationSubmitted && f_project_creation.tracker_ids.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.tracker_ids.errors.required">tracker_ids is required</div>
                  </div>
                </div>


                <div class="form-group">
                  <label for="enabled_module_names">Modules</label>
        
                  <select multiple class="custom-select" formControlName="enabled_module_names">
                    <option value="">Choose your projectModule</option>
                    <option *ngFor="let projectModule of projectModules" [ngValue]="projectModule" >{{projectModule.label}}</option>
                  </select>
 
                  <div *ngIf="projectCreationSubmitted && f_project_creation.enabled_module_names.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.enabled_module_names.errors.required">enabled_module_names is required</div>
                  </div>

                </div>


                <div class="form-group">
                  <label for="issue_custom_field_ids">Custom Fields</label>
                  <input type="text" formControlName="issue_custom_field_ids" class="form-control"
                    [ngClass]="{ 'is-invalid': projectCreationSubmitted && f_project_creation.issue_custom_field_ids.errors }" />
                  <div *ngIf="projectCreationSubmitted && f_project_creation.issue_custom_field_ids.errors" class="invalid-feedback">
                    <div *ngIf="f_project_creation.issue_custom_field_ids.errors.required">issue_custom_field_ids is required</div>
                  </div>
                </div>

  
                <div class="form-group">
                  <button type="button" class="btn btn-primary" type="submit">Create</button>
        
                </div>
              </form>


          </div>
        </div>
      </div>
  </div>